body{
    width: 100%;
    min-height: 100vh;
    align-items: center;
    display: inline-flex;
    flex-direction: column;
}

.quiz-container{
    color: black;
    background-color: floralwhite;
    border: 2px solid;
    border-radius: 10px;
    margin-top: 200px;
    width: 500px;
    height: 300px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

